#title {
    display: inline-block;
    margin-left: auto;
    width: 100vw;
    text-align: center;
}

#color-palette {
    border: 1px solid rgb(0, 0, 0);
    width: 25%;
    margin: auto;
}

div.color {
    display: inline-block;
    margin: 10px;
    padding: 3px;
    width: 50px;
    height: 50px;
}

#button-random-color {
    position: sticky;
    left: 45%;
    margin: 10px;
}

#pixel-board {
    max-width: 19%;
    margin: auto;
}

.pixel {
    margin: 2px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

#clear-board {
    position: relative;
    bottom: 281px;
}
